/* 
.app-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;

    .title{
        margin-top: 3%;
        h2{
            margin-top: 20px;
        }
    }
} */